.sidebar {
  width: 220px;
  height: 100%;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  align-self: flex-start;
  height: fit-content;
}

.nav {
  display: flex;
  flex-direction: column;
}

.beforeSelected {
  border-bottom-right-radius: 30px;
  background: linear-gradient(
    90deg,
    var(--gradient-grey-1) -50.78%,
    var(--gradient-grey-2) 100%
  );
}

.selected {
  background: linear-gradient(
    90deg,
    var(--gradient-grey-1) -50.78%,
    var(--gradient-grey-2) 100%
  );
}

.afterSelected {
  border-top-right-radius: 30px;
  background: linear-gradient(
    90deg,
    var(--gradient-grey-1) -50.78%,
    var(--gradient-grey-2) 100%
  );
  min-height: 100vh;
}

@media (max-width: 1024px) {
  .sidebar {
    width: 180px;
    position: sticky;
    top: 0;
  }
}

@media (max-width: 640px) {
  .sidebar {
    width: 150px;
    padding: var(--spacing-sm);
  }
}
